.like-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 25px;
    max-width: 200px;
    margin: auto; /* Center container */
    font-family: Arial, sans-serif;
}

.like-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}

.like-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 16px;
    border: none;
    background: none;
    cursor: pointer;
}

.like-button:hover {
    color: #1976d2;
}

.like-count {
    font-size: 14px;
}
